*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    font-size: 15px;
    padding: 20px 35px;
    font-weight: 400;
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,  #f55f8d 100%);
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.5s; 
    background-size: 200%;
}
button:hover {
 background-position: right;
 color: #fff;
 text-decoration: none;

}

.container{
    margin: 0 auto;
    width: 80%;

}
/* header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
header .container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
 header li{
    display: inline;
    margin-right: 20px;
    padding: 50px 0;
 }

 header li a{
    color: black;
    font-weight: 700;
 }
header .header_right{
    display: flex;
    padding: 50px 0;
    align-items: center;
}

header li a:hover {
    color: #f55f8d;

}
a span {
    display: inline-block;
  transition: all .2s;
}

header a:hover span{
    animation-name: menua ;
    animation-duration: .3s;
}

@keyframes menua {
    49%{
        transform: translateY(20px);

    }
    50%{
        transform: translateY(-20px);
        opacity: 0;

    }
    51%{
    
        opacity: 1;

    }
}

/* Carousel */
.carousel{
    padding-top: 180px;
    background-image: url(../img/pic2.png);
    background-size: 100%;
    background-position: top;
}


.carousel .container{
    width: 80%;
    display: flex;
    align-items: center;

}

.carousel_left{
    width: 60%;
}

.carousel_right{
    width: 40%;
}

.carousel_left h3{
    color: #f55f8d;
    font-size: 22px;
}

.carousel_left h2{
    font-size: 70px;
    margin: 20px 0;
}
.carousel_left p{
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
}
.carousel_left .s1{
    margin: 15px 0;
}
.carousel_left .s2{
    margin: 15px 0;
}
.carousel_left i {
  width: 35px;
  height: 35px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-right: 10px;
}
.carousel_left li{
    margin: 15px 0;
}

/* Services */
.services{
    padding: 110px 0;
    text-align: center;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
}

.services .container{
    width: 80%;
    margin: 0 auto;
}
.services .services_title p{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 700;
}

.services .services_title h2{
    font-size: 70px;
    font-weight: 700;
}
.services_content{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     margin-top: 30px;
}

.services_item{
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;

}

.services_item:hover{
    transform: translateY(-20px);
    border: 1px solid red;
    border-image: url(../img/br.png) 30 / 19px round;

}
.services .services_item img{
    width: 230px;
}
.services .services_item h3{
    margin: 15px 0;
}
.services .services_item p{

    color: #636363;
}

/* About */
.about {
    background-image: url(../img/bg15.png);
    background-size: cover;
    background-position: right ;
}
.about .container{
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.about_left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
    margin-top: 44px;
    position: absolute;
    left: -43px;

}
.about_left{
    width: 50%;
    position: relative;
}
.about_right{
    width: 50%;
    margin-left: 100px;
}
.about_right h3{
    color: #f55f8d;
    font-size: 22px;
}
.about_right h2{
    font-size: 77px;
}
.about_right p{
    font-size: 16px;
    color: #636363;
    margin: 10px 0;
}
.about_right i{
    height: 24px;
    width: 24px;
    border: 2px solid #f55f8d;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    color: #f55f8d;
    margin-right: 10px;
}
.about_right li{
    margin: 10px;
}

.about_right button {
    margin-top: 10px;
}

/* Number */
.number {
    margin-top: 150px;
    background-image: url(../img/bg14.png);
    background-position: center;
}

 .number .container{
    margin: 0 auto;
    padding: 50px 0;
    width: 80%;
    display: flex;
    justify-content: space-around;

 }

 .number i{
    text-align: center;
    display: inline-block;
    background-size: 200%;
    height: 80px;
    width: 80px;
    border: 1px solid #f55f8d;
    border-radius: 50%;
    font-size: 45px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    line-height: 80px;
 }
 .number_item{
    text-align: center;
 }
 .number h2{
    margin-top: 15px;
    font-size: 65px;
    color: #f55f8d;
 }
 .number p{
    font-size: 16px;

 }

 /* Features */
.features{
    padding: 110px 0;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-size: 111%;
    background-position: top;
}
.features .container{
    margin: 0 auto ;
    width: 80%;
}

.features .container{
    display: flex;
}

.features_right img{
    width: 100%;
}

.features_left .features_bg{
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
}
.features_r{
margin-left: 40px;
}
.features_left .features_item{
    display: flex;
    margin-bottom: 20px;
    border-radius: 20px;
    transition: all 1s;
    padding: 10px;

}
.features_left .features_bg:hover{
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    color: white;

}
.features_left .features_bg:hover i{
    color: white;
}

.features .container h3{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}

.features .container h2{
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 20px;

}

.features .features_item i{
    font-size: 80px;
    color: #f55f8d;
    margin-right: 10px;
    transition: all 1s;
}

.features_item_tittle{
    padding-top: 12px;
}

.features_item_tittle h4{
    font-size: 24px;
    font-weight: 600;
}

.features_item_tittle p{
    font-size: 16px;
}

.features_right img{
    animation: move2 5s infinite;

}

@keyframes move2 {
    /* 0%{
        transform: translateY(0);
    }
    50%{
        transform: rotate(-2deg)
    }

    100%{
      transform: translateY(0);
    } */
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

/* portfolio */

.portfolio{
    padding: 70px 0;
}

.portfolio .container{
    margin: 0 auto;
    width: 80%;
}
.portfolio_title{
    text-align: center;
}

.portfolio_title h3{
font-size: 22px;
color: #f55f8d;
}

.portfolio_title h2{
    font-size: 70px;
}

.portfolio_content{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;

}

.portfolio_content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
        border-radius: 20px;

}

.portfolio .portfolio_content .portfolio_item1{
    grid-column: 1 / span 2;
}

.portfolio .portfolio_content .portfolio_item5{
    grid-column: 1 / 3 ;
}

.portfolio .portfolio_content .portfolio_item6{
    grid-row: 2 / 4;
    grid-column: 3 /4;
}

.portfolio .portfolio_content .portfolio_overlay .portfolio_icon{
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    transition: 0.6s;


}

.portfolio .portfolio_content .portfolio_overlay:hover .portfolio_icon{
 
    top: 20px;
    right: 20px;
}

.portfolio .portfolio_content .portfolio_overlay .portfolio_text{
position: absolute;
left: 20px;
bottom: -50px;
color: white; 
transition: 0.5s;

}
.portfolio .portfolio_content .portfolio_overlay:hover .portfolio_text{
    bottom: 20px;
}
.portfolio .portfolio_content .portfolio_item{
    position: relative;
}

.portfolio .portfolio_item .portfolio_overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    transition: 0.5s;
    overflow: hidden;

}
.portfolio .portfolio_item .portfolio_overlay:hover{
    opacity: 1;
}

.portfolio .portfolio_item{
    position: relative;
    overflow: hidden;
}

.portfolio .portfolio_item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      transform: skewX(-25deg);
      transition: all 0.75s;
}

.portfolio_item:hover::before {
    left: 125%;
}

.portfolio_text h3{

    font-size: 22px;
    font-weight: 700;
}

.portfolio_icon i{
    color: white;
}

/* Blog */
.blog{
   background-image: url(../img/bg16.png);
    padding: 70px 0;
    background-position: top center;
    background-size: cover;
}
.blog .container{
    margin: 0 auto;
    width: 80%;
}

.blog_title{
    text-align: center;
    margin-bottom: 20px;
}
.blog_title h3{
    font-size: 22px;
    font-weight: 700;
    color: #f55f8d;
    margin-bottom: 20px;
}

.blog_title h2{
    font-size: 70px;
    font-weight: 700;

}

.blog_content .item{
    margin-right: 30px;
    border-radius: 8px;
    background: rgba(245, 95, 141, 0.1);
}

.blog_content .item_img {
    position: relative;

}
.blog_content .item_img img{
   border-radius: 8px;
}
.blog_content .item_img p{
    width: 150px;
    padding: 13px 13px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,  #f55f8d 100%);
    background-size: 200%;
    color: white;
    position: absolute;
    bottom: -20px;
    left: 20px;
}

.blog_content .item_text h3{
    font-size: 24px;
    font-weight: 700;
    color: black;
    padding: 30px 0 2px 15px;
}

.blog_content .item_text p{
    font-size: 16px;
    color: #636363;
    padding: 0 0 30px 15px;
}
.blog_content .item_footer{
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog_content .item_footer p{
    margin-right: 10px;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;

}

.blog_content .item_footer i{
    color: #f55f8d;
}
.blog_content .item_footer .colorname{
    color: #f55f8d;
}

/* Footer  */

footer{
    background-image: url(../img/bg4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    font-size: 15px;
    position: relative;

}

footer::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .container{
    margin: 0 auto;
    width: 80%;

}

.footer_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.1);
    background-image: url(../img/pattern3.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #fff;
    position: relative;
}

.footer_top h3{
    font-size: 28px;
    margin-right: 100px;
}

.footer_top .top_input input{
    padding: 25px 200px 20px 20px;
    font-size: 14px;
    border: white;
    transition: 0.5s;
    border-radius: 8px 0 0 8px;
    outline: 0;
}
.footer_top .top_input input:hover{
    border:1px solid #f55f8d;
}

.footer_top button{
    font-size: 20px;
    padding: 20px 35px;
    border-radius: 0 8px 8px 0;
}

footer .footer_bottom{
    display: flex;
    color: white;
    padding: 70px 0;
  
}
.footer_item{
    width: 25%;
    z-index: 3;
}

footer .footer_bottom .li1{
    display: flex;
    align-items: center;
    padding: 8px 0;
    text-align: left;
}

footer .footer_bottom .li1 i{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    background-image: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,  #f55f8d 100%);
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
}


.footer_item h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-bottom: 10px;
    color: white;
    position: relative;
}
.footer_item h3::before{
    width: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,  #f55f8d 100%);
    height: 4px;
    background-size: 200%;
    border-radius: 20px;
}
.footer_item h3::after{
    content: "";
    position: absolute;
    width: 45px;
    height: 4px;
    background: linear-gradient(to right, #f55f8d 0,#f8ae56 51%,  #f55f8d 100%);
    height: 4px;
    background-size: 200%;
    border-radius: 20px;
    left: 0;
    bottom: 0;
    left: 20px;

}

footer .footer_item a{
    color: #636363;
    font-size: 16px;
    transition: all 0.5s;
}

footer .footer_item li{
    transition: 0.5s;
    padding: 8px 0;
}
.footer_item a:hover{
    color: white;
}

.footer_copyright{
    background-color: #1f343b;
   
}

.footer_copyright .container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

}

.footer_copyright .copyright_left span{
color: #f55f8d;
}

.footer_copyright .copyright_left p{
    font-size: 15px;
    color: white; 
}

.footer_copyright a{
    font-size: 14px;
    color: white;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: inline-block;
    transition: all 0.5s;

}

.footer_copyright a:hover{
    background-color: #f55f8d;
    color: white;
}
.copyright_right{

    z-index: 4;
}

/* Backtotop */
.backtotop{
    visibility: hidden;
    opacity: 0;
}
.backtotop i{
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f55f8d;
    color: #fff;
    border-radius: 8px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }